/*
    DESCRIPTION:
    Microsoft Windows 11 build variables.
*/

// Build Version
build_version = "v1.0.0"

// Proxmox Variables
proxmox_url = "https://X.X.X.X:8006/api2/json"
// If using proxmox_password proxmox username will be passed as <user>@<pve domain>. For API token authentication, the username will be passed as <user>@<pve domain>!<api token id>
proxmox_username = "proxmox@pve"
proxmox_password = "your-proxmox-password"
proxmox_api_token = "12a3cdef-45g6-78h9-ijk0l1m"
proxmox_insecure_connection = true

// Virtual Machine Settings
vm_name                        = "w11"
vm_id                          = null
vm_mem_size                    = 4096
enable_kvm_ballooning          = false
vm_cpu_core_count              = 2
vm_cpu_count                   = 2
vm_cpu_type                    = null
enable_numa_support            = false
vm_os                          = "win11"
vm_firmware                    = "seabios"
enable_qemu_agent              = true
vm_scsi_controller             = "virtio-scsi-single"
enable_start_on_boot           = true
enable_hardware_virtualization = false
vm_packer_interface            = null
vm_guest_os_family             = "windows"
vm_guest_os_language           = "en-US"
vm_guest_os_keyboard           = "en-US"
vm_inst_os_image_ent           = "Windows 11 Enterprise"
vm_inst_os_image_pro           = "Windows 11 Pro"
vm_inst_os_kms_key_ent         = ""
vm_inst_os_kms_key_pro         = ""
vm_guest_os_timezone           = "UTC"
vm_disk_storage_pool           = "local-lvm"
enable_efi_config              = false
vm_nic_model                   = "e1000"
vm_nic_vlan_tag                = "13"

// Provisioner Settings
scripts = ["scripts/windows/windows-prepare.ps1"]
inline                         = ["Get-EventLog -LogName * | ForEach { Clear-EventLog -LogName $_.Log }"]


// Removeable Media Settings
download_iso                    = false
iso_url                         = null
iso_urls                        = null
iso_file                        = "local:iso/en-us_windows_11_business_editions_version_22h2_updated_oct_2023_x64_dvd_e6b6f11c.iso"
iso_checksum                    = null
unmount_iso                     = true
mount_additional_iso            = true
additional_iso_file             = null
additional_iso_url              = null
additional_iso_urls             = null
additional_iso_target_path      = null
additional_iso_target_extension = null
additional_iso_checksum         = null
additional_iso_storage_pool     = "packer_iso"
additional_iso_device           = null

// Cloud Init
enable_cloud_init       = true
cloud_init_storage_pool = "cidata"

// Boot Settings
vm_boot_wait = "3s"

// Communicator Settings
communicator_winrm_port     = 5985
communicator_use_proxy      = false
communicator_host           = null
communicator_timeout        = "12h"
communicator_winrm_use_ssl  = false
communicator_winrm_insecure = true
communicator_winrm_use_ntlm = false

// Template Settings
create_template = true

// Build Settings
build_username   = "packer"
build_password   = "packerTest!"
ansible_username = "ansible"
ansible_password = "ansibleTest!"