/*
   DESCRIPTION:
   Generated auto.pkrvars file for GitHub Actions builds.
*/

// Build metadata
build_version = "{{ build_version }}"

// Proxmox Variables
proxmox_api_endpoint = {{ proxmox_api_endpoint }}
proxmox_node = {{ proxmox_node }}
proxmox_username = {{ proxmox_username }}
proxmox_api_token = {{ proxmox_api_token }}
proxmox_insecure_connection = true
proxmox_bridge_interface = "vmbr0"
